
{% extends 'layout.html.twig' %}

{% block container_content %}
<p><a class="btn btn-large" href="{{url('admin_table_content', {table: table|replace({"content_":""})}) }}/add"><i class="icon-plus-sign"></i> Add</a></p>
<table class="table table-hover">
    <tr></tr>
{% for content in contents %}
    {% if loop.index==1  %}
    <tr>
     {% for key in content|keys %}
      <th>{{key|capitalize|replace({"_":" "})}}</th>
     {% endfor %}
      </tr>
    {% endif %}
  <tr> 
  {% for key,value in content %}
  <td> {{value}} </td>
   {% endfor %}
  </tr>

{% endfor %}
 
</table>
 {{ pager | raw }}
   
{% endblock %}


